.inputimg{
    display: none;
}
.imgcolab img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    cursor: pointer;
    margin-bottom: 10px;
}
.imgcolab{
    width: 100px;
    height: 100px;
}
.AgregarColab{
    display: flex;
    flex-direction: column;
}
.formAgregar{
    border: 1px solid black;
    margin-bottom: 20px!important;
    height: 40px;
    width: 700px;
    margin: auto;
    padding-left: 10px;
}
#empresasAdd{
    cursor: pointer;
    margin-bottom: 20px;
    width: 700px;
}
.AgregarColab{
    margin-top: 100px;
}
.secImg{
    padding: 100px;
    border: 1px solid #2c2c2c;
    background-color: #ebe5d5;
    padding: auto;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
}
.secImg label{
    margin: auto;
}
.secInfo{
    padding: 20px;
    border: 1px solid #2c2c2c;
    background-color: #ebe5d5;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.secInfo2{
    grid-template-rows: 1fr 120px;
    padding: 20px;
    border: 1px solid #2c2c2c;
    background-color: #ebe5d5;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}
.textAgregar{
    display: flex;
    flex-direction: column;
}
.titulo{
    margin: auto;
    margin-bottom: 30px!important;
}
.botonAgregar{
    border: 2px solid #2c2c2c;
    padding: 5px;
    font-size: 20px;
    background-color: #2c2c2c;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
}
.botones{
    display: flex;
    justify-content: end;
}
.botonAgregar:hover{
    background-color: #24b548;
    border: 2px solid #2c2c2c;
    color: #2c2c2c;
}
#Estado{
    margin: auto;
    min-width: 700px;
    height: 40px;
    border: 1px solid #2c2c2c;
    cursor: pointer;
}