.Colaborador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 150px;
}
.Usuario{
    margin-top: 100px;
}
.TextoColaborador{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 30px;
    justify-content: center;
    color: aliceblue;
}
.detallesColab{
    border: 2px solid #2e2e2e;
    padding: 10px;
    border-radius: 20px;
    background-color: #9c9c9c;
    margin-left: 50px;
    margin-top: 50px;
    color: aliceblue;
}
.contenedorInfo{
    display: flex;
    flex-direction: column;
}
.desc{
    font-weight: bold;
    margin-top: auto;
    margin-left: 20px ;
    margin-bottom: auto;
    color: aliceblue;
}
.ImgColaborador{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-right: 50px;
}
.ImgColaborador img{
    max-width: 50vw;
    max-height: 512px;
    min-width: 40vw;
    border: 3px solid #7c7c7c;
    border-radius: 50px;
}
.titulo{
    font-size: 30px;
    font-weight: bold;

}
body{
    min-height: 100vh;
    background-color: aliceblue;
}
.Estado{
    margin: auto;
    margin-top: 5px;
    border: 2px solid #2e2e2e;
    padding: 5px;
    border-radius: 5px;
}
.btn_actualizar{
    margin: auto;
    margin-top: 5px;
    border: 2px solid #2e2e2e;
    padding: 5px;
    border-radius: 5px;
    background-color: #9c9c9c;
    cursor: pointer;
}
.btn_actualizar:hover{
    background-color: #408c72;
    color: aliceblue;

}
.activo{
    background-color: #408c72;
}
.inactivo{
    background-color: red;
}
.activo:hover{
    cursor: pointer;
    background: linear-gradient(90deg, rgba(0,7,22,1) 0%, rgba(64,140,114,1) 100%);
}
.inactivo:hover{
    cursor: pointer;
    background: linear-gradient(90deg, rgba(82,0,29,1) 0%, rgba(255,0,0,1) 100%);
}
@media screen and (max-width: 1050px){
    .Colaborador{
        display: flex;
        flex-direction: column-reverse;
    }
    .ImgColaborador{
        margin: auto;
        padding-bottom: 30px;
    }
    .ImgColaborador img{
        max-width: 80vw;
        height: 100%;
    }
    .TextoColaborador{
        font-size: 20px;
    }
    .detallesColab{
        margin-bottom: 20px;
        margin-right: 50px;
    }
    .titulo{
        font-size: 23px;
        display: flex;
        justify-content: center;
        margin: 10px;
    }
}